body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
#root {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  padding-bottom: 100px;
  background-color: #e8eaf6 ;
  
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.progress {
  margin-top: 0;
  padding: 3px;
  background-color: #64ffda;
}
.indeterminate {
background-color: #00897b;
}